<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdut.community.mapper.UserMapper">
    <select id="selectUserByEmail" resultType="com.sdut.community.model.domain.User">
        select id,username,email,phone,password,sex,role from user where email=#{email}
    </select>

    <select id="selectUserByUsername" resultType="com.sdut.community.model.domain.User">
        select id,username,email,phone,password,sex,role from user where username=#{username}
    </select>

    <select id="selectUserById" resultType="com.sdut.community.model.domain.User">
        select id,username,email,phone,password,sex,role from user where id=#{id}
    </select>

    <insert id="insertUser">
        insert into user (username,email,password) values (#{username},#{email},#{password})
    </insert>

</mapper>
