<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>XX社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/mycss.css">
    <script src="/js/jquery-3.3.1.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <li><a href="/blog">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user==null}"><a href="/tologin">登录</a></li>
                <li th:if="${session.user!=null}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/userinfo">个人资料</a></li>
                        <li><a href="#">消息中心</a></li>
                        <li><a href="/issue">发布文案</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

    <!--blog详细信息-->
    <div class="panel panel-default">
        <div class="panel-heading">
            故事详情
        </div>
        <div class="panel-body">
            <h2 id="blogName" th:text="${blog.getBlogName()}"></h2>
        </div>
        <div class="panel-body">
            <p th:text="${blog.getContent()}" class="content-font"></p>
        </div>
        <div class="panel-body" align="right">
            发布时间 : <span th:text="${publishDate}" ></span><span>&nbsp&nbsp&nbsp&nbsp</span>
        </div>
        <div class="panel-body" align="right">
            <span>
                <a class=" glyphicon glyphicon-thumbs-up " id="like" style="font-size: 35px;"></a>
                <span th:text="${blog.getLikenum()}"></span>
                <span>&nbsp&nbsp&nbsp&nbsp</span>
            </span>

        </div>
    </div>
    <!--评论区-->
    <div class="panel panel-default">
        <div class="panel-heading">
            评论区
            <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="glyphicon glyphicon-edit" id="comment">评论</a></span>
        </div>
        <div id="commentArea">
            <div class="panel-body otherHeadPic">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" src="..." alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                        <span>浏览量:</span><span>点赞量:</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/js/blogInfo.js"></script>
</html>