<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--发布页面-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>XX社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="../static/js/jquery-3.3.1.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>

    标题: <input id="blogName" type="text" name="blogName" value="请输入">
    内容: <input id="content" type="text" name="content" value="请输入">
    <button id="submit" type="submit">发布</button>

    <script>

        $(document).ready(function () {
            $("#submit").click(function () {
                $.ajax({
                    type: "POST",
                    url: "blog/publish",
                    data:{
                        "blogName":document.getElementById("blogName").value,
                        "content":document.getElementById("content").value
                    },
                    success:function (resp) {

                        if(resp==true){
                            alert("发布成功")
                            window.location.href="http://localhost:8888";
                        }
                    },

                })
            })
        })
    </script>

</body>
</html>