<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
    注册<br>
    <form th:action="@{/register}" method="post">
        用户名:<input type="text" name="username"><br>
        邮箱:<input type="text" name="email"><br>
        验证码:<input type="text" name="code"><br>
        密码:<input type="text" name="password"><br>
        <form th:action="@{/sendEmail}">
            <button type="submit">发送验证码</button>
        </form>
        <button type="submit">注册</button>
    </form>
</body>
</html>