<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--用户信息页面-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>XX社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="../static/js/jquery-3.3.1.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>

</body>
</html>